 data-frontiers.info www.data-frontiers.info {
    gzip
    realip cloudflare
    tls voevodin.nv@gmail.com
    tls {
        dns cloudflare
    }
    header / {
        # Enable HTTP Strict Transport Security (HSTS)
        Strict-Transport-Security "max-age=31536000;"
        # Enable cross-site filter (XSS) and tell browser to block detected attacks
        X-XSS-Protection "1; mode=block"
        # Disallow the site to be rendered within a frame (clickjacking protection)
        X-Frame-Options "DENY"
    }
    redir https://nikitavoevodin.com
}

test.data-frontiers.info {
    gzip
    realip cloudflare
    tls voevodin.nv@gmail.com
    tls {
        dns cloudflare
    }
    header / {
        # Enable HTTP Strict Transport Security (HSTS)
        Strict-Transport-Security "max-age=31536000;"
        # Prevents embedding of instance within an iframe
        X-Frame-Options: SAMEORIGIN
        # Enable cross-site filter (XSS) and tell browser to block detected attacks
        X-XSS-Protection "1; mode=block"
    }
    proxy / localhost:5000 {
        websocket
        transparent
    }
}
